---
import Layout from "@layouts/Layout.astro";
import { formatDate } from "@lib/utils";
import { getCollection, getEntry, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("__posts__");
  return posts.map((post) => ({
    params: { id: post.id },
  }));
}

const { id } = Astro.params;
const post = await getEntry("__posts__", id);
if (!post) {
  throw new Error(`Could not find post no:${id}`);
}

const { Content, headings } = await render(post);
---

<Layout>
  <div class="mx-auto max-w-4xl px-4">
    <div
      class="mx-auto flex max-w-2xl flex-col items-center justify-center gap-4"
    >
      <h1 class="text-center font-serif text-4xl font-black md:text-5xl">
        {post.data.title}
      </h1>
      <span class="text-base-content/75"
        >Published {formatDate(post.data.pubDate)}</span
      >
    </div>
    <div class="mt-10 mb-20 flex flex-col gap-2 md:mx-10">
      <h3 class="font-serif text-2xl font-black">Headings</h3>
      {
        headings.map((h, idx) => (
          <a
            href={`#${h.slug}`}
            class="text-base-content/75 hover:underline sm:w-max"
            style={`margin-left: ${h.depth - 2}rem`}
          >
            {h.depth - 1}. {h.text}
          </a>
        ))
      }
    </div>
    <article
      class={"prose prose-invert prose-headings:scroll-mt-10 prose-blockquote:border-base-content/20 prose-pre:rounded-none prose-hr:border-1 prose-hr:border-base-content/10 prose-pre:border prose-headings:font-serif prose-p:text-base prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl max-w-full md:[&>*]:mx-10"}
    >
      <Content />
    </article>
  </div>
</Layout>

<style is:global>
  .expressive-code {
    margin-inline: 0;
  }
  .expressive-code .copy button {
    border-radius: 0 !important;
    transition-duration: 0.15s !important;
  }
</style>
