---
import { siteConfig } from "@config/site";

interface Props {
  title?: string;
  description?: string;
  url?: string;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  url = siteConfig.url,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImageURL = new URL(
  canonicalURL.pathname +
    (canonicalURL.pathname.endsWith("/") ? "" : "/") +
    "og.png",
  Astro.site,
);
---

<!-- canonical -->
<link rel="canonical" href={canonicalURL} />
<!-- primary meta tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="robots" content="index, follow" />
<!-- open graph -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageURL} />
<meta property="og:image:alt" content={title} />
<meta property="og:site_name" content={siteConfig.title} />
<meta property="og:locale" content="en_US" />
<!-- twitter/x -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImageURL} />
<meta name="twitter:image:alt" content={title} />
<meta name="twitter:creator" content="@stabldev" />
<meta name="twitter:site" content="@stabldev" />
