---
import { siteConfig } from "@config/site";

interface Props {
  title?: string;
  description?: string;
  url?: string;
}

const {
  title = siteConfig.title,
  description = siteConfig.description,
  url = siteConfig.url,
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<!-- open graph tags -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<!-- TODO: add og later -->
<!-- <meta
  property="og:image"
  content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"
/>
<meta property="og:image:alt" content="" /> -->
