---
import { siteConfig } from "@config/site";

interface Props {
	title?: string;
	description?: string;
	url?: string;
}

const { title = siteConfig.title, description = siteConfig.description } =
	Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- canonical -->
<link rel="canonical" href={canonicalURL} />
<!-- primary meta tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="robots" content="index, follow" />
<!-- open graph -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={siteConfig.title} />
<meta property="og:locale" content="en_US" />
<!-- twitter/x -->
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:creator" content="@stabldev" />
<meta name="twitter:site" content="@stabldev" />
